<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software engineer portfolio, .NET, C Sharp, JavaScript, MySql, HTML5 & CSS</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;900&display=swap" rel="stylesheet">
    <script src="index.js" defer></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="main">
        <div class="terminal">
            <div id="terminal-output"></div>
            <div id="terminal-input">
                <span class="terminal-line">
                    <div id="dir">{{directory}}</div><div>{{directoryPointer}}</div><div id="input"><div id="terminal-cursor" class="blink">&nbsp;</div></div>
                </span>
            </div>
        </div>
    </div>
</body>
</html>